/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body { font-family: 'Open Sans'; background-color: azure; }
h1 { font-size: 14pt; }

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#search_address { width: 20em; }
#result {
  padding: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: thin solid white;
}
#result:hover { border: thin solid lightgray; }
#place { font-weight: 700; text-align: center; }
img.weather-icon { width 0.8em; height: 0.8em; cursor:pointer }
#current-weather { text-align: center; }
.weather-main { font-size: 42pt; font-weight: 300 }
.weather-time { font-size: 10pt; color: gray; text-align: center; }
#weather-forecast {
  font-size: 12pt;
  margin-top: 10pt;
  img { margin: 0 5px; }
  table { margin: 0 auto; }
  .forecast-temp { text-align: right; }
}
#disclaimer {font-size: 9pt; text-align: center; margin-top: 20px; }
.bigger {
  padding: 8px;
  text-align: center;
  font-size: 24pt;
}
.select { border: 2px solid Blue; }
.bypass { color: Gray; }
.review { height: 60px; }
